/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 94px;
  padding: 100px 0;
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-normal);
}

.header {
  border: 2px solid currentColor;
  padding: clamp(120px, calc(0.94vw + 116.5px), 130px) 0;
  font-family: var(--accent-font);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--bg-content-block);
  inline-size: var(--content-block-width);
}

.header__logo {
  display: block;
  margin-bottom: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.article__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.article {
  display: flex;
  flex-direction: column;
  border: 2px solid currentColor;
  background-color: var(--bg-content-block);
  inline-size: var(--content-block-width);
}

.article__title {
  padding: 4.5px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-bold);
}

.aticle__image {
  position: relative;
  margin: 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.image {
  display: block;
  object-fit: cover;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.saturate-contrast {
  filter: saturate(30%) contrast(80%);
}

.saturate {
  filter: saturate(350%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.invert {
  filter: invert(0.8);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(0.2rem);
}

.hue-rotate-contrast-blur {
  filter: hue-rotate(110deg) contrast(55%) blur(0.1rem);
}

.caption {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--caption-outline-color),
    0 1px var(--caption-outline-color), 1px 0 var(--caption-outline-color),
    0 -1px var(--caption-outline-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .caption {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--caption-outline-color);
    text-stroke: 1px var(--caption-outline-color);
  }
}

.article__block {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  line-height: 1.17;
}

.article__block p {
  max-inline-size: 646px;
}

.block__button {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  transition: border-color 0.3s ease;
  max-block-size: 38px;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.card__icon-button:focus {
  outline: none;
}

.sparks {
  opacity: 0;
}

.button {
  position: relative;
  border: 2px solid currentColor;
  padding: 10px 0px;
  overflow: hidden;
  font-family: var(--accent-font);
  font-size: 14px;
  background-color: var(--bg-content-block);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--text-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:focus {
  box-shadow: 2px 2px 0 var(--text-color);
  outline: none;
}

.button:hover::before {
  transform: translateX(0);
}

.button__text {
  position: relative;
  color: var(--difference-text-color);
  mix-blend-mode: difference;
}

.button-save {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px 18px;
}

.button svg {
  position: relative;
  fill: var(--difference-text-color);
  mix-blend-mode: difference;
}

.card__like-button {
  inline-size: 130px;
}

.dialog {
  border: 2px solid currentColor;
  padding: 28px clamp(28px, calc(-0.939vw + 41.52px), 38px);
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 1.5;
  background-color: var(--bg-content-block);
  inline-size: clamp(341px, calc(1.127vw + 336.77px), 353px);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog::backdrop {
  opacity: 0.75;
  background: #000;
}

.dialog__text svg {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.dialog button {
  text-transform: uppercase;
}

.dialog__text {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

@media (width < 376px) {
  .page {
    gap: 100px;
  }

  .button-save {
    flex-direction: column;
    align-items: center;
  }

  .button-save svg {
    width: 28px;
    height: 28px;
  }

  .article__block {
    max-inline-size: 371px;
  }
}
