/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", sans-serif;
  --font-weight-bold: 715;
  --font-weight-normal: 410;
  --bg-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      rgba(211, 211, 211, 0) 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0px 2px, rgba(211, 211, 211, 0) 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
  --content-block-width: clamp(375px, calc(30.52vw + 260.56px), 700px);
  --bg-content-block: #fff;
  --text-color: #000;
  --caption-outline-color: #fff;
  --difference-text-color: #fff;
  --icon-contour-color: #000;
  --animation-fill-color: #ff0000;
}
